<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/shady/ui-automation/src/test/java">
        <classes>
            <class name="com.dell.ApiTest.CategoryTests">
                <methods>
                    <include name="validateResponseSchemaFromGetCategoriesAPI"/>
                    <include name="testFindCategoriesAPIWithDefaultLimitAndSkipQueryParam"/>
                    <include name="testFindCategoriesAPIWithCustomLimitQueryParam"/>
                    <include name="testFindCategoriesAPIWithCustomSkipQueryParam"/>
                    <include name="testFindCategoriesAPIWithValidLimitAndSkipQueryParam"/>
                    <include name="testFindCategoriesAPIWithInvalidLimitAndValidSkipQueryParam"/>
                    <include name="testFindCategoriesAPIWithInvalidLimitQueryParam"/>
                    <include name="testFindCategoriesAPIWithInvalidSkipQueryParam"/>
                    <include name="testCreateCategoryAPIWithValidRequestBody"/>
                    <include name="testCreateCategoryAPIWithUniqueViolation"/>
                    <include name="testCreateCategoryAPIWithoutId"/>
                    <include name="testCreateCategoryAPIWithoutName"/>
                    <include name="testCreateCategoryAPIWithoutRequestBody"/>
                    <include name="testCreateCategoryAPIWithInvalidRequestBody"/>
                    <include name="testPatchCategoryAPI"/>
                    <include name="testPatchCategoryAPIWithInvalidId"/>
                    <include name="testPatchCategoryAPIWithInvalidRequestBody"/>
                    <include name="testPatchCategoryAPIWithEmptyRequestBody"/>
                    <include name="testDeleteCategoryAPI"/>
                    <include name="testDeleteCategoryAPIWithNotFoundCategory"/>
                    <include name="testFindCategoryByIdAPI"/>
                    <include name="testFindCategoryAPIWithNotFoundCategory"/>
                </methods>
            </class>
            <class name="com.dell.LoginTest.LoginTests">
                <methods>
                    <include name="validLogin"/>
                    <include name="loginWithoutCredentials"/>
                    <include name="loginWithInvalidUsernameAndCorrectPassword"/>
                    <include name="loginWithInvalidPasswordAndCorrectUsername"/>
                    <include name="invalidUsernameAndPassword"/>
                    <include name="noUsernameLogin"/>
                    <include name="loginWithoutPassword"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>